<div class="notifications-container">
    <mat-toolbar>
      <button mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>Notifications and Reminders</span>
      <span class="spacer"></span>
      <button mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>
    <div class="reminders">
      <h3>Reminders</h3>
      <!-- loop -->
      <div>
        <mat-card>
          <mat-card-title>reminder.dateTime</mat-card-title>
          <mat-card-actions>
            <button mat-button>Edit</button>
            <button mat-button>Delete</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="notifications">
      <h3>Notifications</h3>
      <!-- loop -->
      <div>
        <mat-card>
          <mat-card-title>notification.dateTime</mat-card-title>
          <mat-card-content>notification.message</mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  