<div class="header-wrapper">
    <div class="main-header">
        <div class="header-set">
            <div class="header-set-logo">
                <div class="page-logo">
                    <img src="assets/images/travel-logo.jpg" alt="travel logo">
                </div>
                <div class="header-set-menu">
                    <nav class="header-nav">
                        <ul>
                            <li>Home</li>
                            <li>About Us</li>
                            <li>Help</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header-set-end">
                <a class="logout-link">LOGOUT</a>
            </div>
        </div>
    </div>
</div>