<div class="itinerary-container">
  <mat-toolbar>
    <button mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{ 'Create' }} Itinerary</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>save</mat-icon>
    </button>
  </mat-toolbar>
  <div class="form-container">
    <form [formGroup]="itineraryForm">
      <mat-form-field>
        <mat-label>Itinerary Title</mat-label>
        <input matInput name="title" required formControlName="title">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Travel Dates</mat-label>
        <input matInput name="dates" required formControlName="date">
      </mat-form-field>
      <h3>Destinations</h3>
      <button mat-raised-button color="primary">+ Add Destination</button>
      <!-- for -->
      <div>
        <mat-card>
          <mat-card-content>
            <mat-form-field>
              <mat-label>Location</mat-label>
              <input matInput name="location" required formControlName="location">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Date & Time</mat-label>
              <input matInput name="datetime" required formControlName="date_time">
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Edit</button>
            <button mat-button>Delete</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <h3>Activities</h3>
      <button mat-raised-button color="primary">+ Add Activity</button>
      <!-- for -->
      <div>
        <mat-card>
          <mat-card-content>
            <mat-form-field>
              <mat-label>Description</mat-label>
              <input matInput name="description" required formControlName="description">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Time</mat-label>
              <input matInput name="time" required formControlName="time">
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Edit</button>
            <button mat-button>Delete</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <button mat-raised-button color="primary" type="submit">{{ 'Create' }}</button>
    </form>
  </div>
</div>