<div class="profile-container">
    <mat-toolbar>
      <button mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>User Profile</span>
    </mat-toolbar>
    <div class="profile-content">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput name="username" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput name="email" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput name="password" type="password" required>
      </mat-form-field>
      <button mat-raised-button color="primary">Update Profile</button>
    </div>
  </div>
  