.settings-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  mat-toolbar {
    display: flex;
    justify-content: space-between;
  }
  
  .settings-content {
    padding: 20px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    margin-top: 20px;
  }
  