<div class="settings-container">
    <mat-toolbar>
      <button mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>Settings</span>
    </mat-toolbar>
    <div class="settings-content">
      <mat-form-field>
        <mat-label>Language</mat-label>
        <mat-select>
          <mat-option value="en">English</mat-option>
          <mat-option value="es">Spanish</mat-option>
          <mat-option value="fr">French</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Time Zone</mat-label>
        <mat-select>
          <mat-option value="UTC">UTC</mat-option>
          <mat-option value="EST">EST</mat-option>
          <mat-option value="PST">PST</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary">Save Settings</button>
    </div>
  </div>
  